.active-main{

    width: 100%;
    height: 100%;
    margin: 0rem 0rem;
    overflow-y: scroll;
}

.active-body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 85%;
    padding: 30px;

}
.active-drive-card{
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem 1rem;
    border-radius: 5px;
    width: 60%;
}

.active-drive-card h4{
    font-size: 2rem;
    font-weight: 700;
    color: #1c186b;
    padding-left: 5px;
    padding-bottom: 20px;
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    border-bottom: 2px solid #1c186b;
}

.active-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}

.active-buttons button{
    background-color: #1c186b;
    border: 2px solid #1c186b;
}

.active-buttons button:hover{
    background-color: #ffffff;
    color: #1c186b;
    font-weight: 600;
    border: 1px solid #1c186b;
}

.edit-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 20px 150px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    color: #1c186b;
}

.edit-main h1{
    color: #1c186b;
    font-weight: 700;
}

.edit-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.edit-text label{
    font-weight: 600;
    margin: 10px 0px;
}

.edit-text input{
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

.edit-text textarea{
    padding: 5px;
}

.edit-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.edit-button-1 button{
    background-color: #ffffff;
    border: 1px solid #1c186b;
    font-weight: 600;
    color: #1c186b;
}

.edit-button-1 button:hover{
    background-color: #1c186b;
    font-weight: 500;
    color: #ffffff;
}

.edit-button-2 button{
    background-color: #1c186b;
    font-weight: 500;
    color: #ffffff;
}

.edit-button-2 button:hover{
   
    background-color: #ffffff;
    border: 1px solid #1c186b;
    font-weight: 600;
    color: #1c186b;
}
