.main{

    width: 100%;
    height: 100%;
    margin: 0rem 0rem;
}


.drive-card{ 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;   
    padding: 1.5rem;
    margin: 1rem 1rem;
    border-radius: 5px;
    width: fit-content;
}

.drive-card h4{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 500;
    box-shadow: none;
    padding-bottom:15px;
    color: rgb(28, 24, 107);
}

.drive-card h6{
    border: none;
    box-shadow: none;
    color: #1c186b;
    font-weight: 600;
}

.title-body h1{
    font-weight: 800;
    color: #1c186b;
}

.applied-body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100vh;
    max-height: 85%;
    padding: 20px;

}