.createdrive {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: #45a049; */
    height: 100vh;
 }

.title-body {
    background-color: #f2f2f2;
}

.title-body h1 {
    font-size: 24px;
    margin: 0;
}

.form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:330px;
    height: 450px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.175);
    border-radius: 10px;
}

.form-container label {
    text-align: start;
    margin-bottom: 5px;
}

.form-container input {
    padding: 5px;
    width: 250px;
    margin-bottom: 15px;
    font-weight: 100;
}

::placeholder{
    font-size: 14px;
}

.form-container button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    align-self: center;
    border: none ;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}
