.dash-body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }
  
  
  .title-body{
    text-align: center;
    margin: 0px;
    padding: 1rem;
    background-color: #f3f3f3;
 
}
