
.drive-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    overflow-y: scroll;
    max-height: 85%;

}


.card{
    width: 25rem;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.titleimg{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titleimg h1{
    font-family: Arial, sans-serif ;
    font-size: 25px;
    height: 100%;
    font-weight: 600;
    color: #1c186b;;
}

.drivedetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0px 0px 10px;
}

h6:nth-of-type(-n+2) {
    color: #1c186b;
    font-weight: 700;
    font-size: 15px;
}
  
h6{
    padding: 5px ;
    /* box-shadow: 0 2px 2px 0 rgba(123, 123, 123, 0.2); */
}

p{
    padding-left: 5px;
}

.button{
    display: flex;
    justify-content:flex-start;
    padding: 10px;
}

.but{
    background-color: #1c186b;
    color: #ffffff;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100px;
}

.but:hover{
    background-color: #ffffff;
    color: #1c186b;
    border: 1px solid #1c186b;
}