.edit-users-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .edit-users-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: 700;
    color: #1c186b;
  }
  
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin: 10px 0px 20px 0px;
  }
  
  .search-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #1c186b;
    color: #fff;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
  }
  
  .search-button:hover {
    border: 1px solid #1c186b;
    background-color: #fff;
    color: #1c186b;
    font-weight: 600;
  }
  
  /* Add more styles for form fields if needed */
  