.edit-users-container{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;    
    /* margin: 200px 10px 10px 10px; */
}
  
  .edit-users-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: 700;
    color: #1c186b;
  }

  .edit-form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    border-radius: 5px;
    box-shadow:  0 0 10px 0 rgba(0,0,0,0.1);
    margin-top: 200px;
  }

  .edit-form input {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  }

  .edit-form label, .edit-form select{
    margin-bottom: 10px;
  }
  
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
  }
  
  .search-button, .edit-user-form-buttons button {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #1c186b;
    color: #fff;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
  }
  
  .search-button:hover, .edit-user-form-buttons button:hover {
    border: 1px solid #1c186b;
    background-color: #fff;
    color: #1c186b;
    font-weight: 600;
  }
  
  /* Add more styles for form fields if needed */

  