.content {
  padding: 40px 60px;  
}

/* FADE ANIMATIONS */
.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateZ(0); /* Added transform property with value translateZ(0) */
}


.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
  transform: translateZ(0); /* Added transform property with value translateZ(0) */
}

/* SIDEBAR */

.sidebar__button {
  background: transparent;
  padding:0px;
  border: 0px solid white;
  border-radius: 4px;
  color: white;
  transition: 0.3s linear;
}

.sidebar {
  /* display:flex;
  flex-direction: column; */
  min-width: 250px;
  background: rgb(28, 24, 107);
  padding: 20px;
  color: white;
  transition: 0.4s ease-in;
  height: 100vh;
}
/*  */
.sidebar-closed {
  min-width: 80px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.sidebar__listItem {
  margin: 30px 10px;
  display: flex;
  height: 20px;
}

.sidebar__listItem span {
  white-space: nowrap;
}

.sidebar__icon {
  margin: 0 0px 0 0;
  size: 10px;
}

.log-out{
  display: flex;
  padding-left: 10px;
  margin-bottom: 0px;
}

.newdiv{
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
}

.log-out-inner{
  display: flex;
  justify-content: center;
  align-items: center ;
  cursor: pointer;
  /* width: auto; */
}

.log-out-inner i{
  font-size: 17px;
}

.log-out-inner label{
  padding-left: 10px;
  cursor: pointer;
}