@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    Poppins;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

/* body{
  background-color: rgba(219, 219, 243, 1); 
} */

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
  /* margin: -5px; */
}

/* .forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  color: #7f7d7d;
  margin: 0;
} */

.forgot-password a {
  color: #167bff;
}

.signinbody {
  background-color: #f5f5f5;
  height: 425px;
  width: 370px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.175);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: "Fira Sans", sans-serif,; */
  border-radius: 35px;
}

.signinbody h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  /* font-weight: bold; */
  padding-bottom: 20px;
}

.mb-3 input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  font-size: 13px;
  border-radius: 13px;
  padding-left: 40px;
}

.mb-3 i {
  position: relative;
  transform: translate(10px, -28px);
  /* transform: translateY(px); */
}

.mb-3{
  margin: -10px;
  padding: 0px;
  /* background-color: #167bff; */
}

.form-control {
  width: 300px;
}

.mb-4 {
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
}

.mb-4 .custom-control-label {
  padding-left: 4px;
}

.mb-3 label {
  margin-bottom: 7px;
  padding-left: 7px;
}

.mb-4 .custom-checkbox {
  display: flex;
  align-items: center;
}

.forgot-pass a {
  font-size: 14px;
}

.custom-control-label {
  font-size: 15px;
}

.d-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  width: auto;
}

.d-grid button {
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.sign-in-main{
  background-color: rgba(219, 219, 243, 1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* .custom-control.custom-checkbox {
  display: inline-block;
}

.custom-control.custom-checkbox input.custom-control-input {
  display: inline-block;
  vertical-align: middle;
}

.custom-control.custom-checkbox label.custom-control-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; 
} */
